# ---- KAGGLE ----
KAGGLE_USERNAME=
KAGGLE_KEY=
KAGGLE_DATA_DIR=

# ---- GITHUB ----
GITHUB_TOKEN=

# ---- MSSQL ----
MSSQL_SERVER=host.docker.internal #windows
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_PORT=
# MSSQL_TRUST_SERVER_CERTIFICATE=true

# ---- CONTEXT7 ----
CONTEXT7_API_KEY=